.App {
	/*margin-top: 50px;*/
	/*margin-left: 50px;*/
}

body {
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}

.color-strip {
	height: 10px;
}


.tick line {
	stroke: #C0C0BB;
}

.tick text {
	fill: #635f5d;
}

.mark {
	fill: #137b80;
	transition: all 1s;
}
.axis-label{
	font-size: 1.5em;
	fill: #635f5d;
}